<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Editar Posteo</title>
 
<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
 th:href="@{/css/bootstrap.css}">
</head>
<body style="background-color: RGB(237,244,255)">
	<div class="container">
	<nav class="navbar navbar-dark bg-primary ">
  	<h2 class="mx-auto"style="color:white;"> Challenge Alkemy - Blog</h2>
	</nav>
		<br>
		<h2>Editar Posteo</h2>
		<form action="#" th:action="@{/save}" th:object="${posteo}" method="post">
			
			<div class="form-group p-1">
				<label for="titulo">Titulo</label>
				<input type="text" class="form-control" id="titulo" th:field="*{titulo}" name="titulo">
			</div>
				<input type="hidden" th:field="*{id}" name="id" id="id">
			
			<div class="form-group p-1" >
				<label for="contenido">Contenido</label>
				<input type="text" class="form-control" id="contenido" th:field="*{contenido}" name="contenido">
			</div>
			
			<div class="form-group p-1">
				<label for="categoriaLbl">Categoria</label>
				<br>
				<select class="form-control" name="categoria">
				<option th:each="category : ${T(com.challenge.alkemy.blog.model.Posteo.Categoria).values()}"
					th:value="${category}" th:text="${category.displayEnum}"></option>
				</select>
			</div>
			
			<div class="form-group">
				<label for="fecha">Fecha</label>
				<input type="text" class="form-control" id="fecha"  th:field="*{fecha}" name="fecha" readonly>
			</div>
			
			<div class="form-group p-1">
				<label for="imagen">Imagen</label>
				<input type="text" class="form-control" id="imagen" th:field="*{imagen}" name="imagen">
			</div>
			
			<br>
			<button type="submit" class="btn btn-success">Guardar</button>
			<a th:href="@{/home}" class="btn btn-primary">Volver</a>
		</form>
	</div>
</body>
</html>