<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Challenge Blog</title>
<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
 th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
	<br>
	<h2 th:if="${list.isEmpty()}">No hay Posteos disponibles</h2>
	<div  th:if="${!list.isEmpty()}">
	<h2>Posteos disponibles</h2>
	<br>
		<table class="table">
			<thead>
				<tr>
					<th>Titulo</th>
					<th>Contenido</th>
					<th>Imagen</th>
					<th>Categoria</th>
					<th>Fecha</th>
					<th>Editar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="posteo : ${list}">
					<td th:text="${posteo.titulo}">
					<td th:text="${posteo.contenido}">
					<td th:text="${posteo.imagen}">
					<td th:text="${posteo.categoria}">
					<td th:date="${posteo.fecha}">
					<td><a class="btn btn-info" th:href="@{/save/{id}(id=${posteo.id})}">Editar</a></td>
					<td><a class="btn btn-danger" th:href="@{/delete/{id}(id=${posteo.id})}">Eliminar</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>
	<div>
		<a href="/save/0" class="btn btn-primary">Nuevo</a>
	</div>
	</div>
</body>
</html>